extends ../layout

block prepend head
  - var title = 'Popup'

block content
  p Account Black Filters
  textarea#account-black-filters(rows='10') 

  button#resetBlacklistButton Reset Blacklist
  #blacklist
